@theme {
	--font-namco70-if-sans: sans-serif;
	--font-namco70-if-serif: '--font-garamond', serif;

	--color-namco70-if-background: hsl(291, 60%, 59%);
	--color-namco70-if-foreground: hsl(0, 0%, 100%);
	--color-namco70-if-accent: hsl(291, 60%, 60%);

	--animate-namco70-if-marquee: marquee 10s linear infinite alternate;

	@keyframes marquee {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

@layer components {
	.bg-namco70-if-hero-background {
		background-image: url('/assets/namco70th/ironfist/if-hero-bg.png');
		background-size: cover;
		background-position: bottom center;
	}

	@media screen and (min-width: 64rem) {
		.namco70-if-vertical-text {
			writing-mode: vertical-rl;
			transform: rotate(180deg);
		}
	}

	.namco70-if-header-height {
		--header-height: 4rem;
	}

	@media screen and (min-width: 64rem) {
		.namco70-if-header-height {
			--header-height: 6rem;
		}
	}
}
